/*--import source code for body and headings--*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro&display=swap');
body{
  background-color: darkkhaki;
  color: AliceBlue;
  font-family: 'Source Code Pro', monospace;
}
h1{
  background-color: darkkhaki;
  color: AliceBlue;
  font-family: 'Source Code Pro', monospace;
}
a{
  background-color: DarkKhaki;
  color: AliceBlue;
  font-family: 'Source Code Pro', monospace;
}
.padding-hover:hover{
  background-color: HotPink;
  border: none;
  padding:1em 2em 1em 2em;
}
.container {
  background-image:url(https://araebrooks.files.wordpress.com/2017/09/moodboard6.jpg?w=450&h=562);
  background-size:cover;
  height: 700px;
  margin: 0 auto;
  width:50%;
}
/*--Media Queries--*/
@media screen and (max-width:1000px){
  body{
    background-color:lightyellow;
}
}
@media screen and (max-width:500px){
  body{
    background-color:white;
  }
}
