
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body{
  background-color: DarkKhaki
  color: AliceBlue
  font-family: 'Source Code Pro', monospace;
}

h1 {
  background-color: DarkKhaki
  color: AliceBlue
  font-family: 'Source Code Pro', monospace;
}
button {
position : relative;
height : 45px;
width : 150px;
margin : 10px 7px;
padding : 5px 5px;
font-weight : 700;
font-size : 15px;
letter-spacing : 2px;
color : #383736;
border : #383736 solid 2px;
border-radius : 4px;
text-transform : uppercase;
outline : 0;
overflow : hidden;
background : none;
z-index : 1;
cursor : pointer;
transition : 0.08s ease-in;
}
.padding-hover:hover {
 color : whitesmoke;
}
.fill:before {
content : "";
position : absolute;
background : #383736;
bottom : 0;
left : 0;
right : 0;
top : 100%;
z-index : -1;
}
