


@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  margin: 50px;
  padding: 50px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
h1 {
  color: black;
  font-size:12px;
  padding: 70px;

}

.nav-bar {
  font-family: 'Cutive Mono', monospace;
  width: 100%;
  background-color: #F23AD9;
  text-align: center;
  padding: 30px auto;
}

.nav-bar a  {
  width:100%;
  color: white;
  text-decoration: none;
}

.nav-bar:first-child, .nav-bar:first-child {
  padding: 0px 0px;
}

@media only screen and (min-width:400px) {
  .nav-bar {
  display: flex;
  justify-content: space-around;
  }
  .nav-bar:first-child, .nav-bar:first-child {
  padding: 0px 0px;
}

  h2 {
  color: black;
  font-size:16px;
  font-weight: bold;
  padding: 10px;
  width: 90%;
}

html {
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  box-sizing: border-box;
}

/*
codepen reset styles
*/

li, ul, p {
  margin: 0;
  padding: 0px;
}

body {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  width:100%;
  background-color: white;
  margin:0px;
  padding:0px;
}

section {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

section p, ul, li {
  color: black;
}

.drink-menu  {
  width:85% auto;
  margin: 10px;
  color: white;
}

 .menu-item-row {
  width:70%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 20 0 1rem 0;
}

.menu-item-row p {
  width:60%;
}

.menu-item-row ul {
  width:90%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:15%;
  display:inline-block;
}

h3 {
  color: black;
  font-size:16px;
  font-weight: bold;
  padding: 10px;
  width: 80%;
  }

 h4 {
  color: black;
  font-size:16px;
  font-weight: bold;
  padding: 10px;
  width: 80%;
  }

 h5 {
  color: black;
  font-size:16px;
  font-weight: bold;
  padding: 10px;
  width: 80%;
  }
}
