
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  font-family: 'Cutive Mono', monospace;
  width: 100%;
  background-color: #F23AD9;
  text-align: center;
  padding: 20px auto;
}

.nav-bar a {
  width:100%;
  color: #F5EEEE;
  text-decoration: none;
}

.nav-bar:first-child, .nav-bar:first-child {
  padding: 10px 0px;
}

@media only screen and (min-width:400px) {
  .nav-bar {
  display: flex;
  justify-content: space-around;
  }
  .nav-bar:first-child, .nav-bar:first-child {
  padding: 0px 0px;
}
  }
html {
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  box-sizing: border-box;
}
li, ul, p {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  background-color: white;
  margin:0px;
  padding:0px;
}

section {
  background-color:#F5F6DD;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
  color: black;
  font-size:16px;
}

section h1, p, ul, li {
  color: black;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}
}
